<h2 mat-dialog-title>{{data.type}} User : {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
    <div>
    <form #editUserForm="ngForm">
        <mat-grid-list cols="3" rowHeight="6em">
            <ng-container *ngIf="data.type === 'Add' ">
                <mat-grid-tile>
                    <label class="pb-2">ID</label>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput (change)="checkCdUnique()" name="cd" placeholder="ID" [formControl]="cdForm" required>
                        <mat-error *ngIf="cdForm.hasError('required')">
                            ID is required
                        </mat-error>
                        <mat-error *ngIf="cdForm.hasError('notUnique')">
                            ID already exists
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <label class="pb-2">Password</label>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput name="password" placeholder="Password" [formControl]="passForm" required minlength="8">
                        <mat-error *ngIf="passForm.hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="passForm.hasError('minlength')">
                            Password must be at least 8 characters
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </ng-container>

            <mat-grid-tile>
                <label class="pb-2">Name</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [(ngModel)]="editUser.name" (change)="checkNameUnique(name)" name="name" id="name" placeholder="Name" #name="ngModel" required>
                    <mat-error *ngIf="name.control.hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="name.control.hasError('notUnique')">
                        Name already exists
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <label class="pb-2">Email</label>                
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [(ngModel)]="editUser.email" (change)="checkEmailUnique(email)" name="email" id="email" placeholder="example@email.com" #email="ngModel" email>
                    <mat-error *ngIf="email.control.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.control.hasError('notUnique')">
                        Email already exists
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <label class="pb-2">Role</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select name="roles" [formControl]="roleForm" multiple>
                        <mat-option *ngFor="let role of roles" [value]="role.cd">{{role.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile id="unit-select" >
                <div class="w-100 h-100 pt-3">
                    <label class="pb-2">Organization</label>
                </div>
            </mat-grid-tile>
            <mat-grid-tile id="unit-select" colspan="2" [rowspan]="unitRowSpan">
                <div class="w-100 h-100" [@.disabled]="disableAnimation">
                    <mat-expansion-panel class="mat-elevation-z0" #expand (opened)="expandRow()" (closed)="collapseRow()">
                        <mat-expansion-panel-header>
                            {{selectedUnit != null ? selectedUnit.cd + ' - ' + selectedUnit.name : "Select unit"}}
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Unit</mat-label>
                            <input type="text" placeholder="Unit id, name..." matInput [formControl]="unitForm" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUnitName" (optionSelected)="setSelected($event); expand.expanded = false">
                                <mat-option *ngFor="let unit of units" [value]="unit">{{unit.cd + ' - ' + unit.name}}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </mat-expansion-panel>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="cancel">Cancel</button>
    <button hidden mat-dialog-close="success" id="btn_success"></button>
    <button *ngIf="data.type === 'Add'" mat-button (click)="onAddUpdate()" [disabled]="name.invalid || email.invalid || cdForm.invalid" id="dialogCloseBtn">Add</button>
    <button *ngIf="data.type === 'Edit'" mat-button (click)="onAddUpdate()" [disabled]="name.invalid || email.invalid" id="dialogCloseBtn">Save</button>
</mat-dialog-actions>