::ng-deep .mat-grid-tile-content {
    justify-content: start !important;
}

::ng-deep .cdk-overlay-container {
    z-index: 1020;
}

mat-expansion-panel {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

mat-expansion-panel:hover {
    border: 2px solid;
}

::ng-deep .mat-expansion-panel-body {
    padding-bottom: 0 !important;
}