<h1>Menu</h1>

<div>
    <mat-form-field class="w-100">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" type="text" placeholder="Id, name, description..." #input>
    </mat-form-field>
</div>

<div>
    <table mat-table matSort multiTemplateDataRows (matSortChange)="sortData($event)" [dataSource]="datasource" class="w-100">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.toUpperCase()}}</th>
            <td mat-cell *matCellDef="let element">{{element[column]}}</td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpand.length">
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="d-flex ms-3">
                        <div class="my-2 me-5">
                            <div class="my-2">ID&nbsp;</div>
                            <div class="my-2">Name&nbsp;</div>
                            <div class="my-2">Description&nbsp;</div>
                        </div>
                        <div class="my-2">
                            <div class="my-2">{{element.cd}}</div>
                            <div class="my-2">{{element.name}}</div>
                            <div class="my-2">{{element.description}}</div>
                        </div>
                    </div>
                    <div class="mb-3 ms-3">
                        <button mat-flat-button (click)="openAddEditDialog('Edit', element)" class="me-2" style="background-color: green; color: white;">
                            <div class="d-flex align-items-center justify-content-center">
                                <div>
                                    <i class="fa-solid fa-pen-to-square me-2"></i>
                                </div>
                                <div>Edit</div>
                            </div>
                        </button>
                        <button mat-flat-button (click)="openDeleteDialog(element)" color="warn" >
                            <div class="d-flex align-items-center justify-content-center">
                                <div>
                                    <i class="fa-solid fa-trash me-2"></i>
                                </div>
                                <div>Delete</div>
                            </div>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumnsExpand;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row bg-light"></tr>
    </table>
</div>

<div class="d-flex justify-content-between align-items-center bg-white pe-3">
    <div class="ms-3">
        <button mat-flat-button color="primary" (click)="openAddEditDialog('Add', null)">
            <div class="d-flex align-items-center justify-content-center">
                <div><i class="fa-solid fa-user-plus me-2"></i></div>
                <div>Add new menu</div>
            </div>
        </button>
    </div>
    <div class="d-flex justify-content-between">
        <mat-paginator [length]="pageable?.totalItems" [pageSize]="pageable?.pageSize" showFirstLastButtons (page)="handlePageEvent($event)"></mat-paginator>
        <mat-form-field style="width: 50px;">
            <mat-select [(value)]="page" (selectionChange)="goToPage($event)">
                <mat-option *ngFor="let i of pageable?.totalPages | pages" [value]="i+1">{{i+1}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>