<mat-toolbar class="sticky-top justify-content-between">
    <span>
        <a class="navbar-brand" routerLink=""><img src="../../assets/Logo BCA_Putih.png" height="50"></a>
    </span>
    <span class="d-flex align-items-end">
        <button mat-button style="color: white;">
            <div class="d-flex align-items-center">
                <mat-icon>person</mat-icon>
                <span class="fs-5 ms-1">{{loggedUser.name}}</span>
            </div>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon style="color: white;">logout</mat-icon>
        </button>
    </span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" role="navigation" opened [fixedInViewport]="true" [fixedTopGap]="64">
        <mat-tree [dataSource]="datasource" [treeControl]="treeControl" #tree class="tree">
            <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding>
                <ng-container *ngIf="checkUserMenu(node)">
                    <li class="tree-node">
                        <button mat-icon-button disabled></button>
                        <a class="text-decoration-none" [routerLink]="node.path">{{node.name}}</a>
                    </li>
                </ng-container>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild;" matTreeNodePadding>
                <ng-container *ngIf="checkUserMenu(node)">
                    <li>
                        <div class="mat-tree-node">
                            <button mat-icon-button matTreeNodeToggle [attr.ariaLabel]="'Toggle' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.name}}
                        </div>
                    </li>
                </ng-container>
                <ul  [@slideVertical]="treeControl.isExpanded(node) ? 'show' : null">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <div class="container p-5" style="min-height: calc(100vh - 64px);">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
