.mat-list-item-content{
    justify-content: center;
}

.mat-toolbar {
    background-color: #2279C6;
}

.mat-sidenav-content {
    background-color: #EFF6FF;
}

a {
    color: black;
}

mat-sidenav{
    width: 240px;
    padding-top: 0.8em;
}

.mat-tree-node {
    min-height: 0px;
}

.tree ul {
    overflow: hidden;
}
  
.tree ul, .tree li {
    margin-top: 0;
    margin-bottom: 0;  
    list-style-type: none;
}