<div class="d-flex h-100 m-0 p-0">
  <div class="h-100 p-4 d-flex flex-column-reverse" style="background-color: #2279C6; width: 30%;">
    <div class="mb-5 pb-5">
      <div class="mb-3">
        <img src="../../assets/44556022.png" style="width: 80px;">
      </div>
      <div class="mb-4 text-white">
        <h2 class="m-0"><b>Login to PAVO</b></h2>
        <p style="opacity: 0.75;">Fraud management system</p>
      </div>
      <div>
        <form class="d-flex flex-column" #loginForm="ngForm">
          <label class="text-white mt-2">User ID</label>
          <mat-form-field appearance="outline">
            <input matInput name="cd" placeholder="Insert user ID" ngModel #usernameInput="ngModel" required>
            <mat-error *ngIf="usernameInput.invalid">
              User ID is required
            </mat-error>
          </mat-form-field>
          <label class="text-white mt-2">Password</label>
          <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="Insert password" ngModel #passwordInput="ngModel" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" (keydown)="$event.preventDefault()">
              <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordInput.invalid">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-4" appearance="outline">
            <mat-select value="montx" disabled>
              <mat-option value="montx">MonTX</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="text-white fw-bold mt-3 d-flex justify-content-center" style="width: fit-content; background-color: #c57d11;" mat-raised-button (click)="onLogin(loginForm)" [disabled]="usernameInput.invalid || passwordInput.invalid">
            <ng-container *ngIf="!showLoading">
              Login
            </ng-container>
            <ng-container *ngIf="showLoading">
              <mat-spinner class="my-2" [diameter]="20"></mat-spinner>
            </ng-container>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div style="width: 70%;">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <img src="../../assets/Investment data-bro.png" style="width: 65%;">
      <img src="../../assets/Logo BCA_Biru.png" style="width: 10%; position: absolute; top: 10px; right: 10px;">
    </div>
  </div>
</div>