<h2 mat-dialog-title>Delete {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
  Are you sure want to delete
  <br>
  <b>{{data.object.cd + ' - ' + data.object.name}}</b>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close="delete">Delete</button>
</mat-dialog-actions>
