<h2 mat-dialog-title>{{data.type}} Unit : {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
    <form #editUnitForm="ngForm">
        <mat-grid-list cols="3" rowHeight="6em">
            <ng-container *ngIf="data.type === 'Add' ">
                <mat-grid-tile>
                    <label class="pb-2">ID</label>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput (change)="checkCdUnique()" name="cd" placeholder="ID" [formControl]="cdForm" required>
                        <mat-error *ngIf="cdForm.hasError('required')">
                            ID is required
                        </mat-error>
                        <mat-error *ngIf="cdForm.hasError('notUnique')">
                            ID already exists
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </ng-container>
            <mat-grid-tile>
                <label class="pb-2">Name</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [(ngModel)]="editUnit.name" (change)="checkNameUnique(name)" name="name" placeholder="Name" #name="ngModel" required>
                    <mat-error *ngIf="name.control.hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="name.control.hasError('notUnique')">
                        Name already exists
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button hidden mat-dialog-close="success" id="btn_success"></button>
    <button *ngIf="data.type === 'Add'" mat-button (click)="onAddUpdate()" [disabled]="name.invalid ||  cdForm.invalid" id="dialogCloseBtn">Add</button>
    <button *ngIf="data.type === 'Edit'" mat-button (click)="onAddUpdate()" [disabled]="name.invalid" id="dialogCloseBtn">Save</button>    
</mat-dialog-actions>