<h2 mat-dialog-title>Add Administrator</h2>
<mat-dialog-content class="mat-typography">
    <form #editUserForm="ngForm">
        <mat-grid-list cols="3" rowHeight="6em">
            <mat-grid-tile>
                <label class="pb-2">ID</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput (change)="getUserByCd()" name="cd" placeholder="ID" [formControl]="cdForm" required>
                    <mat-error *ngIf="cdForm.hasError('required')">
                        ID is required
                    </mat-error>
                    <mat-error *ngIf="cdForm.hasError('notExist')">
                        ID doesn't exist
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <label class="pb-2">Name</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [ngModel]="userName" name="name" id="name" placeholder="Name" #name="ngModel" readonly>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="cancel">Cancel</button>
    <button hidden mat-dialog-close="success" id="btn_success"></button>
    <button mat-button (click)="onAdd()" [disabled]="name.invalid || cdForm.invalid" id="dialogCloseBtn">Add</button>
</mat-dialog-actions>