<ng-container *ngFor="let menu of menuOrder">
    <ng-container *ngIf="menu.cd === 'MNU_SSU_010000'">
        <div class="app-router">
            <app-change-password></app-change-password>
        </div>
    </ng-container>
    <ng-container *ngIf="menu.cd === 'MNU_SSU_020000'">
        <div class="app-router">
            <app-administrator></app-administrator>
        </div>
    </ng-container>
    <!-- <ng-container *ngIf="menu.cd === 'MNU_SSU_030000'">
        <div class="app-router">
            <app-laporan-aktivitas></app-laporan-aktivitas>
        </div>
    </ng-container> -->
</ng-container>