<h2 mat-dialog-title>{{data.type}} Menu : {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <form #editMenuForm="ngForm">
            <mat-grid-list cols="3" rowHeight="6em">
                <ng-container *ngIf="data.type === 'Add' ">
                    <mat-grid-tile>
                        <label class="pb-2">ID</label>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput (change)="checkCdUnique()" name="cd" placeholder="ID" [formControl]="cdForm" required>
                            <mat-error *ngIf="cdForm.hasError('required')">
                                ID is required
                            </mat-error>
                            <mat-error *ngIf="cdForm.hasError('notUnique')">
                                ID already exists
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </ng-container>
                <mat-grid-tile>
                    <label class="pb-2">Name</label>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput (change)="checkNameUnique(name)" [(ngModel)]="editMenu.name" name="name" placeholder="Name" #name="ngModel" required>
                        <mat-error *ngIf="name.control.hasError('required')">
                            Name is required
                        </mat-error>
                        <mat-error *ngIf="name.control.hasError('notUnique')">
                            Name already exists
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <label class="pb-2">Description</label>                
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput [(ngModel)]="editMenu.description" name="description" placeholder="Description" #desc="ngModel" required>
                        <mat-error *ngIf="desc.control.hasError('required')">
                            Description is required
                        </mat-error>
                    </mat-form-field>   
                </mat-grid-tile>
                <ng-container *ngIf="data.object?.children?.length == 0 || data.type === 'Add'">
                    <mat-grid-tile>
                        <label class="pb-2">Parent Menu</label>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select name="roles" [formControl]="menuForm">
                                <mat-option [value]="null">--None--</mat-option>
                                <mat-option *ngFor="let menu of menus" [value]="menu.cd">{{menu.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button hidden mat-dialog-close="success" #btn_success></button>
    <button *ngIf="data.type === 'Add' " mat-button (click)="onAddUpdate()" [disabled]="name.invalid || desc.invalid || cdForm.invalid">Add</button>
    <button *ngIf="data.type === 'Edit' "mat-button (click)="onAddUpdate()" [disabled]="name.invalid || desc.invalid">Save</button>
</mat-dialog-actions>