<h2 mat-dialog-title>Edit Role : {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
    <div>
    <form #editRoleForm="ngForm">
        <mat-grid-list cols="3" rowHeight="6em">
            <ng-container *ngIf="data.type === 'Add' ">
                <mat-grid-tile>
                    <label class="pb-2">ID</label>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput (change)="checkCdUnique()" name="cd" placeholder="ID" [formControl]="cdForm" required>
                        <mat-error *ngIf="cdForm.hasError('required')">
                            ID is required
                        </mat-error>
                        <mat-error *ngIf="cdForm.hasError('notUnique')">
                            ID already exists
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </ng-container>
            <mat-grid-tile>
                <label class="pb-2">Name</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [(ngModel)]="editRole.name" (change)="checkNameUnique(name)" name="name" placeholder="Name" #name="ngModel" required>
                    <mat-error *ngIf="name.control.hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="name.control.hasError('notUnique')">
                        Name already exists
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <label class="pb-2">Description</label>                
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [(ngModel)]="editRole.description" name="description" placeholder="Description" #desc="ngModel" required>
                    <mat-error *ngIf="desc.control.hasError('required')">
                        Description is required
                    </mat-error>
                </mat-form-field>   
            </mat-grid-tile>
            <mat-grid-tile>
                <label class="pb-2">Menu</label>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select name="menus" [formControl]="menuForm" multiple>
                        <ng-container *ngFor="let parent of menus">
                            <span>
                                <mat-option #parentOption [value]="parent.cd" (click)="toggleParent(parentOption)">
                                    {{parent.name}}
                                </mat-option>
                            </span>
                            <span>
                                <ul style="list-style-type: none;">
                                    <li *ngFor="let child of parent.children" >
                                        <mat-option #childOption [value]="child.cd" (click)="toggleChild(childOption)">
                                            {{child.name}}
                                        </mat-option>
                                    </li>
                                </ul>
                            </span>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button hidden mat-dialog-close="success" id="btn_success"></button>
    <button *ngIf="data.type === 'Add'" mat-button (click)="onAddUpdate()" [disabled]="name.invalid ||  cdForm.invalid" id="dialogCloseBtn">Add</button>
    <button *ngIf="data.type === 'Edit'" mat-button (click)="onAddUpdate()" [disabled]="name.invalid" id="dialogCloseBtn">Save</button>    
</mat-dialog-actions>