<div class="d-flex align-items-center mb-3">
    <mat-icon class="key-icon">key</mat-icon>
    <h1 class="m-0 ms-3">Change Password</h1>
</div>
<div class="bg-white list-outline">
    <form #form="ngForm">
        <mat-list>
            <mat-list-item class="w-100">
                <div class="label">Current Password</div>
                <div class="form-field">
                    <mat-form-field class="input" appearance="outline">
                        <input type="password" matInput name="currPassword" [(ngModel)]="user.password">
                    </mat-form-field>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="w-100">
                <div class="label">New Password</div>
                <div class="form-field">
                    <mat-form-field class="input" appearance="outline">
                        <input type="password" matInput name="newPassword" [(ngModel)]="newPassword">
                    </mat-form-field>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="w-100">
                <div class="label">Confirm New Password</div>
                <div class="form-field">
                    <mat-form-field class="input" appearance="outline">
                        <input type="password" matInput name="confirmPassword" [(ngModel)]="confirmPassword">
                    </mat-form-field>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="w-100">
                <div class="d-flex justify-content-end w-100">
                    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="user.password == '' || newPassword == '' || confirmPassword == '' ">Change</button>
                </div>
            </mat-list-item>
        </mat-list>
    </form>
</div>