.key-icon {
    transform: rotate(-55deg);
    font-size: 2em;
    color: #2279C6;
}

.list-outline {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
                0px 1px 1px 0px rgb(0 0 0 / 14%), 
                0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.label {
    width: 35%;
}

.form-field {
    width: 50%;
}

.input {
    width: 80%;
}

:host ::ng-deep .mat-form-field-infix {
    border: none;
    padding-bottom: 0.8em !important;
}

:host ::ng-deep .mat-list-item-content {
    justify-content: start;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding: 0;
}

:host mat-list-item{
    margin: 8px 0px;
}

:host mat-list {
    padding: 1px 0px;
}