.parent-list {
    border-radius: 4px;
    overflow: hidden;
}

.parent-box {
    padding: 16px 8px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    cursor: move;
    background: white;
}

.parent-box:not(:last-child){
    border-bottom: none;
}

.child-list {
    border: solid 1px #ccc;
    border-radius: 4px;
}

.child-box {
    padding: 16px 8px;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
    cursor: move;
    background: white;
}

.child-box:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.child-box:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.parent-list.cdk-drop-list-dragging .parent-box:not(.cdk-drag-placeholder){
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.child-list.cdk-drop-list-dragging .child-box:not(.cdk-drag-placeholder){
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.child-box:last-child {
    border: none;
}

.parent-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}