<h1>Menu Tree</h1>

<div>
    <p class="text-muted"><i>Drag and drop to arrange menu index</i></p>
    <div class="parent-list" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="dropParent($event)">
        <mat-accordion multi>
            <mat-expansion-panel class="parent-box" *ngFor="let parent of menus;" cdkDrag>
                <div class="parent-placeholder" *cdkDragPlaceholder></div>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{parent.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="child-list" cdkDropList (cdkDropListDropped)="dropChild($event, parent)">
                    <div id="child-boundary">
                        <div class="child-box" *ngFor="let child of parent.children" cdkDrag cdkDragBoundary="#child-boundary">
                            <div class="parent-placeholder" *cdkDragPlaceholder></div>
                            {{child.name}}
                        </div>
                    </div>
                </div>                
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class=" mt-3 d-flex justify-content-end">
        <button class="d-flex justify-content-center align-items-center" mat-raised-button color="primary" (click)="onSave()">
            <mat-icon class="me-1">save</mat-icon>
            <span>Save Changes</span>
        </button>
    </div>
</div>