<ng-container *ngFor="let menu of menuOrder">
    <ng-container *ngIf="menu.cd === 'MNU_ADM_010000'">
        <div class="app-router">
            <app-user [subject]="'Operator'" [roleCd]="['OPR001', 'OPR002', 'OPR003', 'OPR004', 'OPR005']"></app-user>
        </div>
    </ng-container>
    <ng-container *ngIf="menu.cd === 'MNU_ADM_020000'">
        <div class="app-router">
            <app-user [subject]="'Alerter'" [roleCd]="['ALR001']"></app-user>
        </div>
    </ng-container>
    <!-- <ng-container *ngIf="menu.cd === 'MNU_ADM_030000'">
        <div class="app-router">
            <app-laporan-aktivitas></app-laporan-aktivitas>
        </div>
    </ng-container> -->
</ng-container>